/* Paul Brown Massage Style Sheet
    11 July 2025
    author: Paul-Porter Brown
*/
            * {
                margin: 0;
                box-sizing: border-box;
            }
            body { 
                font-family: Poppins, sans-serif;  
                background-color:linen; color:black; 
            }
            h1, h2, h3, h4, h5, h6 {
                font-family: 'Abril Fatface', serif;
            }

            