<header class="w3-panel w3-deepest-green w3-bottombar">
                <img src="images/zplogo.png" class="w3-image">
                <h1>Welcome to Paul Brown, CMT</h1>
                <h2>The Home of Zero Point Advanced Myofascial Release</h2>
                <address>717 K Street, Suite 204, Sacramento, CA 95814</address>
                <p><strong>916-534-8772</strong></p>
            <nav class="w3-bar w3-topbar w3-emerald w3-center">
                    <a href="index.html" class="w3-bar-item w3-mobile w3-emerald w3-button w3-hover-teal w3-hover-text-black fa fa-home w3-padding">&nbsp;Home</a>
                    <a href="https://paulbrown.noterro.com" class="w3-bar-item w3-mobile w3-emerald w3-hover-teal w3-button fa fa-book w3-padding">&nbsp;Book Now!</a>
                    <a href="#about" class="w3-bar-item w3-mobile w3-emerald w3-hover-teal w3-button fa fa-question w3-padding">&nbsp;About Paul</a>
                    <a href="#contact" class="w3-button w3-mobile w3-emerald w3-bar-item w3-hover-teal fa fa-map w3-padding">&nbsp;Location</a>
                    <a href="#contact" class="w4-bar-item w3-mobile w3-button w3-emerald w3-hover-teal fa fa-phone-square w3-padding">&nbsp;Contact</a>
            </nav>
            </header>