
    <title>
        {{ .Title .}}
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    <link rel="stylesheet" href="css/w3css/5/5.02/w3.css">
    <link ref="stylesheet" hrec="css/w3-theme-green.css">
    <link ref="stylesheet" href="css/pbmt-fonts.css">
    <link ref="stylesheet" href="css/custom.css">
    <meta name="subtitle" value="{{ .subtitle }}" >
    <meta name="description" value="{{ .description }}">
    <meta name="author" value="{{ .author }}">
    