/* pbmt-fonts.css
author: Paul-Porter Brown
version: 0.01
date: 13 July 2025
description: wanted to choose easy to read fonts with an elegant style
 */
 * {
                margin: 0;
                box-sizing: border-box;
 }
body {
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', serif;
}