<head>
    <title>
        {{ .Title .}}
    </title>
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="css/w3-theme-deepest-green.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pbmt-overall.css">
    <meta name="subtitle" value="{{ .subtitle }}" >
    <meta name="description" value="{{ .description }}">
    <meta name="viewport" value="width=device-width, initial-scale=1">
    <meta name="author" value="{{ .Params.Author }}">
</head>