<div class="w3-card-16">
        <header>
        <div id="image">
            <img src="\images\zplogo-960.png" class="w3-image" />
        </div>

        <div id="title-phone-address">
            <h1>
                {{- .Title -}}
            </h1>
            <h2>
                {{.Params.subtitle}}
            </h2>
            <div id="address" class="w3-address w3-small">
                <address>
                    717 K Street Suite 204, Sacramento, CA 95814
                </address>
            </div>

            <div class="w3-phone">
                <i class="fa fa-icon-square-phone"></i>
                <p>916-534-8772</p>
            </div>
        </div>
        <div class="w3-bar w3-mobile w3-theme-l4">
            {{ partial "menu.html" (dict "menuID" "main") }}
        </div>
    </header>
</div>