<!DOCTYPE html>
<html>
        {{ partial "head.html"}}
    <body class="w3-panel w3-theme">
        /* layout home.html */
        <div> /*  header wrapper */
            {{ partial "header.html" }}
    </div> /* end header wrapper */
        <div>/* main wrapper */
            <main>
            {{ .Content }}
        </main>
        </div> /* end main wrapper */
        <div>  /* footer wrapper */
            {{ partial "footer.html" }}
            </div> /*  end footer wrapper */
    </body>
</html>