<!DOCTYPE html>
<html>
        {{ partial "head.html"}}
    <body class="w3-panel">
            {{ partial "header.html" }}
        <main>
            {{ if .Params.Author }}
                <p class="w3-small">by: {{ .Params.Author }}</p>
            {{ end }}
            {{ if .Lastmod }}
                <p class="w3-small">Last Updated: {{ .Lastmod "2006-Jan-02"}}</p>
            {{end}}
            {{ .Content }}
        </main>
        <footer>
            {{ partial "footer.html" }}
        </footer>
    </body>
</html>