<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html"}}
    </head>
    <body>
        <header>
            {{ partial "header.html"}}
            <nav>
                {{ partial "menu.html" (dict "menuID" "main")}}
                <p>Debug: menuID passed to partial = {{ "main" }}</p>
            </nav>
        </header>
        <main>
           {{ $sections := .Page.sections }}
            <section>
                {{ partial "section.html" }}
            </section>
        </main>
        <footer>
            {{ partial "/footer.html" }}
        </footer>
    </body>
</html>